body{
 
    margin: 0;
    padding: 0;
}
 
.menu{
 
    height: 100px;
    width: 100%;
    background-color: #457DED;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
 
}
 
a{
    color: white;
    margin: auto;
    text-decoration: none;
}
 
.produtos{
    height: 80vh;
    width: 100vw;
    background-color: #AA91FA;
    border-bottom: 5px white dotted;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
 
.produto1{
    background-color: white; 
    height: 60vh;
    width: 20vw;
    margin: auto;
    text-align: center;
    
}
 
.produto2{
    background-color: white;
    height: 60vh;
    width: 20vw;
    margin: auto;
    text-align: center;
    
}
 
.produto3{
    background-color: white;
    height: 60vh;
    width: 20vw;
    margin: auto;
    text-align: center;
    
    
}
 
.produto4{
    background-color: white;
    height: 60vh;
    width: 20vw;
    margin: auto;
    text-align: center;
    
}

